block content
  h2= "Happy to have you here!!"
  br
  div
    p Hello, #{user.displayName}. Below is the information that was read with your #[a(href="https://developer.okta.com/docs/api/resources/oidc.html#get-user-information", target="_blank") Access Token].
  br
  table.table.table-striped
    thead 
      tr 
        th Profile Attribute
        th Value 
    tbody 
      tr
        td user.realmId
        td #{user.realmId}
  
  table.table.table-striped
    thead 
      tr 
        th Claim 
        th Value 
    tbody 
      tr
        td user.realmId
        td #{user.realmId}
    for values, claims in user
      tr 
        td #{claims}
        td #{values}
    
